{% extends "base.html" %}

{% block content %}

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashion Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container section_gap">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>
					<ul class="main-categories p-4">
						<div class="p-1">
						    <a class="btn btn-outline-dark btn-sm" href="{{url_for('shop.category')}}">All</a>
					    </div>
						{% if categories %} 
		    	        {% for category in categories %} 
						<form method="POST" action="{{url_for('additem.filter')}}"> 
							<input type="hidden" name="filter" value="productcategory"> 
							<input type="hidden" name="filtervalue" value={{category}}>

							<div class="p-1">
							    <li class="filter-list"><label for="apple"><button class="btn btn-outline-dark btn-sm">{{category.upper()}}</button></label></li>
							</div>
						</form> 
						{% endfor %} 
					{% endif %} 
					</ul> 
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<form method="POST" action="{{url_for('additem.filterprice')}}">
									<div class="input-group">
										<span class="input-group-text">Price : </span>
									    <input name="startprice" class="form-control" type="number" placeholder="Min"> 
									    <input name="endprice" class="form-control" type="number" placeholder="Max">  
								    </div>
									<div class="p-3 d-flex justify-content-center">
									    <button class="btn btn-dark">Submit</button>
								    </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<!-- <div class="sorting">
						<select>
							<option value="1">Default sorting</option>
							<option value="1">Default sorting</option>
							<option value="1">Default sorting</option>
						</select>
					</div>
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div> -->
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				{% if msg %}
	                <h1 style="padding-top: 2rem;"><center>{{msg}}</center></h1>
	            {% endif %}
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
					{% if products %}
					{% for item in products %}

						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="..{{products[item]["image"]}}" alt="">
								<div class="product-details">
									<h6>{{products[item]["productname"]}}</h6>
									<div class="price">
										<h6>${{products[item]["price"]}}</h6>
										<h6 class="l-through">${{products[item]["originalprice"]}}</h6>
									</div>
									<div class="prd-bottom">

										<a class="social-info">
											<span class="ti-bag"></span>
											<form method="POST" action="{{url_for('additem.addtocart')}}"> 
												<input type="hidden" name="productid" value={{item}}>
												<input type="hidden" name="movetocart" value="">
												<input type="hidden" name="hotdealsproduct" value="">
												<button class="hover-text btn btn-outline-dark btn-sm">add to bag</button>
											</form>
										</a>
										<a class="social-info">
											<span class="lnr lnr-heart"></span>
											<form method="POST" action="{{url_for('additem.addToWishList')}}">
												 <input type="hidden" name="productid" value={{item}}>
												 <p class="hover-text"><button type="submit">add to wishlist</button></p>
											</form>
										</a>

									</div>
								</div>
							</div>
						</div>
                    {% endfor %}
					{% endif %}
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

{% endblock %}