{% extends "base.html" %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Payment Status</h1>
            </div>
        </div>
    </div>
</section>

{% if captured %}

<center>
    <div class="p-3 trackingtable">

      <div class="">
        <div class="alert alert-success" role="alert">
            <div class="alert alert-success" role="alert">
                    <div class="alert alert-warning trackingtable" role="alert">
                        <p class="mb-0">Please note Order Id to track your order</p>
                    </div>


                    <h4 class="alert-heading">Payment Successful!</h4>
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        <td>Order Id:</td>
                                        <td>{{order_id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Payment Id:</td>
                                        <td>{{id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Payment Method:</td>
                                        <td>{{method}}</td>
                                    </tr>
                                    <tr>
                                        <td>Payment Status:</td>
                                        <td>Success</td>
                                    </tr>
                                    <tr>
                                        <td>Amount:</td>
                                        <td>&#8377;{{amount/100}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Number:</td>
                                        <td>{{contact}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</div>
</center>

{% endif %}
<div class="p-3">
    <center>
        <div class="checkout_btn_inner d-flex justify-content-center">
            <a class="btn btn-dark" href="{{url_for('blog.index')}}">CONTINUE SHOPPING</a>
        </div>
    </center>
</div>
{% endblock %}
